[submodule "dotfiles/zsh/.config/zsh/ohmyzsh"]
	path = dotfiles/zsh/.config/zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	shallow = true
[submodule "dotfiles/zsh/.config/zsh/omz-custom/themes/powerlevel9k"]
	path = dotfiles/zsh/.config/zsh/omz-custom/themes/powerlevel9k
	url = https://github.com/Powerlevel9k/powerlevel9k.git
	shallow = true
[submodule "dotfiles/vim/dot-vim/pack/default/start/gruvbox"]
	path = dotfiles/vim/dot-vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	shallow = true
[submodule "dotfiles/sway/.config/wofi"]
	path = dotfiles/sway/.config/wofi
	url = https://github.com/dracula/wofi
	shallow = true
[submodule "dotfiles/vim/dot-vim/pack/default/start/Vim-Jinja2-Syntax"]
	path = dotfiles/vim/dot-vim/pack/default/start/Vim-Jinja2-Syntax
	url = https://github.com/Glench/Vim-Jinja2-Syntax.git
	shallow = true
[submodule "dotfiles/vim/dot-vim/pack/default/start/tabular"]
	path = dotfiles/vim/dot-vim/pack/default/start/tabular
	url = git://github.com/godlygeek/tabular.git
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tpm"]
	path = dotfiles/tmux/dot-tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tmux-sensible"]
	path = dotfiles/tmux/dot-tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tmux-continuum"]
	path = dotfiles/tmux/dot-tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tmux-resurrect"]
	path = dotfiles/tmux/dot-tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tmux-power"]
	path = dotfiles/tmux/dot-tmux/plugins/tmux-power
	url = https://git::@github.com/wfxr/tmux-power
	shallow = true
[submodule "dotfiles/vim/dot-vim/pack/default/start/vim-fugitive"]
	path = dotfiles/vim/dot-vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	shallow = true
[submodule "dotfiles/tmux/dot-tmux/plugins/tmux-pain-control"]
	path = dotfiles/tmux/dot-tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
